- if can? :read, @users
.container.text-center
  %h1 All Users
  - @users.each do |u|
    .row.userbox
      .col-sm-offset-3.col-sm-4
        %h3= link_to u.name, user_path(u)
      .col-sm-2{ style: "padding-top: 19px;" }
        - if can? :destroy, u
          = link_to "Delete User", u, method: :delete, class: 'btn btn-danger', confirm: 'Are you sure you want to delete this user?'