%section.text-center.container.col-md-offset-1.col-md-10
  :markdown
    # About the site
    I created this website to share the wealth of original soundtrack pieces I've found over the years from movies, television, and animation. Not only that, but I've also added a rich tagging system and a granular search to help you find the exact mood you are looking for in a piece. I thought this site might be useful to anyone searching for the right mood in a soundtrack piece for a video production, or that it would be nice for anyone who likes listening to OSTs and is trying to discover new soundtrack music.  
    <br/>

    #### **Share Tracks**
    Anyone can add to the collection of tracks by signing up with a username and email address (I don't really care about your info, I just needed a registration system). When you share a track, you'll be encouraged to choose a rich array of tags from the list I've made that are approprate for the feeling that the track conveys. Of course, it's always a subjective choice when tagging your tracks, but I think that most people will recognized the most obvious feelings that a track invokes.  
    <br/>

    #### **Mood Sections**
    The site's structure is pretty simple.  **Click on any of the colored buttons in the main button block on the homepage to view all of the tracks with that button's tag (mood) label.**  For example, if you want to listen to some "Haunting" music, scroll down and find the "Haunting" button.  That will lead you to a page with embedded YouTube videos for each of the community-shared tracks and my own curated playlist.  I chose YouTube as the method for sharing tracks because it has the largest variety of streaming tracks, and it's easy to work with since Google handles all the technical details of streaming.  
    <br/>

    #### **Playlists**
    I am continously adding to my playlists for the 20 different moods in the homepage button block. I recommend that you find a mood that you're interested in listing to, and then that you **open my playlist in YouTube so you can use the shuffle feature** and just sit back and discover some great soundtrack music.  The community posts with the corresponding tag are listed underneath this playlist.  
    <br/>

    #### **Advanced Search**
    When you click to go to the "advanced search" page from the link on the homepage, you can search by "any" or "all" of the tags you choose to type in from the ones listed below.  **This search will only return results from the individual community posts, and not from my playlists, so definitely check out my curated playlists one by one.**  
    <br/>

    #### **User Pages**
    The rest of the site is pretty intuitive.  You can click on the username of the person who shared a given track (look for the "Shared by [username]" label on top of the video) to visit their user page, which lists all of their shared tracks.  You should see a delete button under your videos so if you mess up when posting a YouTube video track, you can delete it and try posting it again.  
    <br/>

    ## About Me
    I made this website during my tenure in the [Bloc.io](https://www.bloc.io) web development training program. It showcases some of the skills I learned for building Ruby on Rails applications, and it allowed me to focus on a subject that I am enthusiastic about.
    If you want to talk about this site or share your opinions about soundtrack music, feel free to email me at mpronschinske [plus] sts [at] gmail [dot] com