.container
  %h1.text-center Extra Playlists
  .row
    .formbox
      %p.text-center
        This is a list of mood playlists that went over the 200 video limit of YouTube's playlists.  They have songs that were not included in their respective playlists on the mood pages.
  .row
    .videobox.text-center
      .row
        %small.visible-md.visible-lg
          Battle Playlist 2
      %iframe.visible-md.visible-lg{ allowFullScreen: "true", allowscriptaccess: "always", frameborder: "0", src: "http://www.youtube.com/embed/WyDHkOeICts?list=PLn6gIVVWkLcRJJSD4d9UBdTVlAjj_nE_O", title: "YouTube video player" }
      .row
        %h4
          %a.visible-xs.visible-sm{href: "youtube://www.youtube.com/watch?v=#WyDHkOeICts&feature=share&list=PLn6gIVVWkLcRJJSD4d9UBdTVlAjj_nE_O"} Open Battle Playlist 2 in YouTube App
    .margin-bottom
    .videobox.text-center
      .row
        %small.visible-md.visible-lg
          Bravery Playlist 2
      %iframe.visible-md.visible-lg{ allowFullScreen: "true", allowscriptaccess: "always", frameborder: "0", src: "http://www.youtube.com/embed/qP3CGuBtBGk?list=PLn6gIVVWkLcQJoBLD_Ri5qhzum8vnLPzv", title: "YouTube video player" }
      .row
        %h4
          %a.visible-xs.visible-sm{href: "youtube://www.youtube.com/watch?v=qP3CGuBtBGk&feature=share&list=PLn6gIVVWkLcQJoBLD_Ri5qhzum8vnLPzv"} Open Bravery Playlist 2 in YouTube App
    .margin-bottom
    .videobox.text-center
      .row
        %small.visible-md.visible-lg
          Epic Playlist 2
      %iframe.visible-md.visible-lg{ allowFullScreen: "true", allowscriptaccess: "always", frameborder: "0", src: "http://www.youtube.com/embed/8lnA-msIg34&list=PLn6gIVVWkLcS9qMY-PK749-S_YTwQkRB5", title: "YouTube video player" }
      .row
        %h4
          %a.visible-xs.visible-sm{href: "youtube://www.youtube.com/watch?v=8lnA-msIg34&feature=share&list=PLn6gIVVWkLcS9qMY-PK749-S_YTwQkRB5"} Open Epic Playlist 2 in YouTube App
    .margin-bottom
    .videobox.text-center
      .row
        %small.visible-md.visible-lg
          Hope Playlist 2
      %iframe.visible-md.visible-lg{ allowFullScreen: "true", allowscriptaccess: "always", frameborder: "0", src: "http://www.youtube.com/embed/fedRyexbFHQ?list=PLn6gIVVWkLcRwRCieHe9wi9sfouzXMVSJ", title: "YouTube video player" }
      .row
        %h4
          %a.visible-xs.visible-sm{href: "youtube://www.youtube.com/watch?v=fedRyexbFHQ&feature=share&list=PLn6gIVVWkLcRwRCieHe9wi9sfouzXMVSJ"} Open Hope Playlist 2 in YouTube App
    .margin-bottom
    .videobox.text-center
      .row
        %small.visible-md.visible-lg
          Mysterious Playlist 2
      %iframe.visible-md.visible-lg{ allowFullScreen: "true", allowscriptaccess: "always", frameborder: "0", src: "http://www.youtube.com/embed/yXOCFn9jtx4?list=PLn6gIVVWkLcTBtE7Uq5JDECztpjSK4h1e", title: "YouTube video player" }
      .row
        %h4
          %a.visible-xs.visible-sm{href: "youtube://www.youtube.com/watch?v=yXOCFn9jtx4&feature=share&list=PLn6gIVVWkLcTBtE7Uq5JDECztpjSK4h1e"} Open Mysterious Playlist 2 in YouTube App
    .margin-bottom
    .videobox.text-center
      .row
        %small.visible-md.visible-lg
          Tension Playlist 2
      %iframe.visible-md.visible-lg{ allowFullScreen: "true", allowscriptaccess: "always", frameborder: "0", src: "http://www.youtube.com/embed/bqQQEX0qoqM?list=PLn6gIVVWkLcQrXcQ8BQF3CtgGWWyK7odT", title: "YouTube video player" }
      .row
        %h4
          %a.visible-xs.visible-sm{href: "youtube://www.youtube.com/watch?v=bqQQEX0qoqM&feature=share&list=PLn6gIVVWkLcQrXcQ8BQF3CtgGWWyK7odT"} Open Tension Playlist 2 in YouTube App
