%div{style: "float: left;"}
  %h2.text-center Moods
  .tagbox.margin-bottom-2
    %p
      %span.tag Adventure
      %span.tag Ambient
      %span.tag Angry
      %span.tag Battle
      %span.tag Bittersweet
      %span.tag Building
      %span.tag Celebration
      %span.tag Chase
      %span.tag Comedic
      %span.tag Confidence
      %span.tag Dramatic
      %span.tag Epic
      %span.tag Ethereal
      %span.tag Evil
      %span.tag Excitement
      %span.tag Exploring
      %span.tag Ending
      %span.tag Fantasy
      %span.tag Flying
      %span.tag Happy
      %span.tag Haunting
      %span.tag Hope
      %span.tag Inspirational
      %span.tag Kabuki
      %span.tag Medieval
      %span.tag Melancholy
      %span.tag Mysterious
      %span.tag Nostalgia
      %span.tag Possibilities
      %span.tag Preparing
      %span.tag Relaxed
      %span.tag Romance
      %span.tag Sadness
      %span.tag Sci-Fi
      %span.tag Space
      %span.tag Sports
      %span.tag Tension
      %span.tag Tribal
      %span.tag Victorian
      %span.tag Village
      %span.tag Western
  %h2.text-center Featured Instrument / Sound
  .tagbox.margin-bottom-2
    %p
      %span.tag 8-bit
      %span.tag Accordion
      %span.tag Acoustic Guitar
      %span.tag Brass
      %span.tag Choir
      %span.tag Children's Choir
      %span.tag Distortion
      %span.tag Drums
      %span.tag Electric Guitar
      %span.tag Female Vocal
      %span.tag Flute
      %span.tag Forging
      %span.tag Harp
      %span.tag Horn
      %span.tag Irish Folk
      %span.tag Latin
      %span.tag Male Vocal
      %span.tag Marimba
      %span.tag Strings
      %span.tag Synth
      %span.tag Trumpet
      %span.tag Violin
  %h2.text-center Tempo / Rhythm
  .tagbox.margin-bottom-2
    %p
      %span.tag Anthem
      %span.tag Driving
      %span.tag Galloping
      %span.tag Lilting
      %span.tag March
      %span.tag Offbeat
      %span.tag Punchy